.calc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc__btn{
    display: flex;
    flex-wrap: wrap;
}

.calc__btn button{
    flex-grow: 1;
    margin: 2% 0;
}

.calc__result button{
    flex-grow: 1;
    margin: 2% 0;
}